:root {
    --grey: #30363d;
    --red: #7d0000;
    --lightgray: #58a6f0;
    --font: #c9d1d9;
    --background: #0d1117;
}

html {
    background-color: var(--background);
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    border-bottom: 2px solid var(--grey);
}

.title h1 {
    margin-left: 30px;
    margin-top: 2px;
    margin-bottom: 0;
}

.title p {
    margin-top: 0;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

h1 {
    color: var(--lightgray);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.mainbox{
    width: 500px;
    height: 900px;
    border: 3px solid var(--grey);
    border-radius: 30px;
    float: left;
    margin-right: 20px;
}

.leftbox {
    width: 100px;
    height: 900px;
    border-right: 3px solid var(--grey);
    border-top: 3px solid var(--grey);
    border-bottom: 3px solid var(--grey);
    border-radius: 0 30px 30px 0;
    margin-right: 20px;
    float: left;
}

.rightbox {
    width: 100px;
    height: 900px;
    border-left: 3px solid var(--grey);
    border-top: 3px solid var(--grey);
    border-bottom: 3px solid var(--grey);
    border-radius: 30px 0 0 30px;
    float: left;
}

.topleftbox {
    width: 100px;
    height: 50px;
    margin-right: 20px;
    float: left;
}

.toprightbox {
    width: 100px;
    height: 50px;
    float: left;
}

.topmainbox {
    width: 500px;
    height: 50px;
    border-left: 3px solid var(--grey);
    border-right: 3px solid var(--grey);
    border-bottom: 3px solid var(--grey);
    border-radius: 0 0 30px 30px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.bottommainbox {
    width: 500px;
    height: 50px;
    border-left: 3px solid var(--grey);
    border-right: 3px solid var(--grey);
    border-top: 3px solid var(--grey);
    border-radius: 30px 30px 0 0;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.option1, .option2 {
    width: 450px;
    height: 100px;
    border: 2px solid var(--grey);
    border-radius: 30px;
    margin-bottom: 20px;
}

.force {
    width: 350px;
    padding: 10px 0 10px 0;
    border: 1px solid var(--red);
    border-radius: 30px;
    margin-bottom: 20px;
    position: relative;
}

.force:first-child {
    margin-top: 87px;
}

.forceleft{
    width: 50%;
    height: 50%;
    position: absolute;
}

.forceright{
    width: 50%;
    height: 50%;
    position: absolute;
    margin-left: 175px;
}

.progressbar {
    position: absolute;
    left: 50%;
    top: 4%;
    transform: translate(-50%, -50%);
}

.progress1, .progress2, .progress3, .progress4, .progress5, .progress6 {
    width: 50px;
    height: 2px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    background-color: var(--grey);
    float: left;
    margin-right: 10px;
}

.progress1 {
    border-color: var(--lightgray);
    background-color: var(--lightgray);
}

.text {
    margin-left: 40px;
    margin-right: 40px;
}

h2 {
    margin: 7.8% auto;
    color: var(--lightgray);
    font-family: 'Open Sans', sans-serif;
}

a, p, div {
    text-decoration: none;
    color: var(--font);
    font-family: 'Open Sans', sans-serif;
}


.content, .content2 {
    margin: 0 50px 0 50px;
    font-size: 20px;
}

.contentboarder {
    border: 3px solid var(--grey);
    border-radius: 30px;
    width: 500px;
    height: 674px;
}

.content img{
    width: 97%;
    margin-top: 4%
}

.content .css {
    width: 50%;
}

#window {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid var(--grey);
    border-radius: 10px;
}

@media screen and (max-height: 1080px) {
    .mainbox{
        width: 500px;
        height: 800px;
        border: 3px solid var(--grey);
        border-radius: 30px;
        float: left;
        margin-right: 20px;
    }
    
    .leftbox {
        width: 100px;
        height: 800px;
        border-right: 3px solid var(--grey);
        border-top: 3px solid var(--grey);
        border-bottom: 3px solid var(--grey);
        border-radius: 0 30px 30px 0;
        margin-right: 20px;
        float: left;
    }
    
    .rightbox {
        width: 100px;
        height: 800px;
        border-left: 3px solid var(--grey);
        border-top: 3px solid var(--grey);
        border-bottom: 3px solid var(--grey);
        border-radius: 30px 0 0 30px;

        float: left;
    }

    .content .css {
        width: 35%;
    }
}